@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;

}

p {
    font-size: 19px;
}

.section {
    position: relative;
}

body {
    background-color: #ffacac;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px 30px;
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 100px;
}

header ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

header ul li a {
    color: white !important;
    font-size: 20px;
}

.wrapper-top {
    margin-top: 30px;
    padding-left: 50px;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(139, 43, 43);
    font-size: 40px;
}

input {
    border-radius: 10px;
    border: none;
    height: 40px;
    padding: 20px;
}

input:focus {
    outline: none;
}

.wrapper-left-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

button {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(139, 43, 43);
    height: 40px;
    width: 170px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
    background-color: rgb(167, 82, 82);
}

.button-about {
    width: 100px !important;
}

img {
    height: 560px;
}

.wrapper-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-img {
    height: 170px;
    cursor: pointer;
}

.bottom-img:hover,
img:hover {
    transform: translateY(-15px);
    transition: 0.5s;
    z-index: 2;
}

#result {
    background-color: white;
    padding: 70px;
    margin-top: 40px;
    font-size: 30px;
    box-shadow: -8px 10px 0px -1px rgba(139,43,43,1);
}

.remember{
    margin-top: 30px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    color: rgba(139,43,43,1);
    padding: 140px;
}

.personal-web {
    font-size: 23px;
}

@media screen and (max-width: 924px) {
    .logo {
        height: 60px;
    }

    h1 {
        font-size: 24px;
    }
    header {
        padding: 4px;
    }
    .wrapper-top {
        display: flex;
        flex-direction: column;
    }
    .wrapper-top {
        padding: 20px;
        margin-top: 170px;
        display: flex;
        padding-top: 100px;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 300px;
    }

    .bottom-img {
        height: 100px;
    }

    #result {
        font-size: 20px;
        padding: 30px;
    }

    p {
        font-size: 15px;  
    }

    section {
        margin-top:200px;
        display: flex;
        flex-direction: column-reverse
    }

    .copyright {
        padding: 30px;
    }
}